.left
{
	width: 200px;
	float: left;
}
.left tr td
{
	border-bottom: 1px dashed #FFFFFF;
}
.left a
{
	display: block;
	padding: 10px 0px;
}
.left a:hover
{
	font-weight: bold;
}
.peopleleft
{
	padding: 50px 0 0 30px;
	width: 230px;
	float: left;
}
/********************************************************/
#channel_right {
	width:710px;
	float:left;
	position:relative;
	left:17px;
}
#channel_title {
	width:710px;
	height:30px;
	float:left;
	border-bottom:#b5b5b5 2px solid;
}
#channel_title span {
	color:#F7CA0F;
	font-size:14px;
	position:relative;
	left:15px;
	top:8px;
	font-weight:bolder;
}
#channel_right table {
	width:705px;
	margin-left:5px;
}
#channel_right table td {
	padding:10px 0px;
	
}
#channel_right table tr {
	background:url(img/topic_bottom.jpg) repeat-x;
	background-position:0 100%;
}
a.channel_right_href:link,a.channel_right_href:visited {
	text-decoration:none;
	color:#FFFFFF;
	background:url("img/channel_right_dotted.jpg") no-repeat;
	background-position:0 50%;
	padding-left:10px;
	margin-left:5px;
}
a.channel_right_href:hover {
	color:#FACE0C;
	text-decoration:underline;
}

#channel_right table tfoot tr {
	border:1px solid #675c5c;
	background:#003174;
}

#channel_right table tfoot tr td{
	border-top:1px solid #675c5c;
	border-bottom:1px solid #675c5c;
	background:#003174;
	text-align:center;
}
/********************************************************/
#channel_img_container {
	margin-top:10px;
	float:left;
	margin-bottom:10px;
}
div.channel_img {
	width:150px;
	float:left;
	margin:10px 12px;
	border:1px solid #aaa;
}
div.channel_img image {
	border:none;
}
div.channel_img_title {
	padding:10px 2px;
	border-bottom:1px solid #aaa;
	border-top:1px solid #aaa;
}
div.channel_img_title span {
	position:relative;
	left:2px;
	width:140px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
}
div.channel_img_intro {
	padding:10px 2px;
}
div.channel_img_intro span {
	position:relative;
	left:2px;
	width:150px;
	text-align:center;
}
#channel_img_pager {
	float:left;
	height:40px;
	width:700px;
	text-align:center;
}
#channel_img_pager span {
	position:relative;
	top:5px;
}
span.emp {
	background:#ff0;
	color:#f00;
	font-weight:bolder;
}
/********************************************************/
.right
{
	width: 730px;
	float: left;
	margin-left: 30px;
}
.right_bt
{
	height: 26px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
.right_nr
{
	margin-top: 20px;
	line-height: 24px;
}
.peopleright
{
	width: 670px;
	float: left;
	margin-left: 30px;
}
.peopleright_bt
{
	height: 26px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
.peopleright_nr
{
	margin-top: 20px;
	line-height: 24px;
}
